extraScrapeConfigs: |
  - job_name: 'kubelet'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    scrape_interval: 5s
    kubernetes_sd_configs:
    - role: node
    relabel_configs:
    - action: labelmap
      regex: __meta_kubernetes_node_label_(.+)
    - target_label: __address__
      replacement: kubernetes.default.svc:443
    - source_labels: [__address__]
      target_label: __metrics_path__
      replacement: /metrics

  # - job_name: 'kubelet'
  #   scheme: https
  #   tls_config:
  #     insecure_skip_verify: true
  #   bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
  #   kubernetes_sd_configs:
  #   - role: node
  #   relabel_configs:
  #   - action: labelmap
  #     regex: __meta_kubernetes_node_label_(.+)
  #   - target_label: __address__
  #     replacement: kubernetes.default.svc:443
  #   - source_labels: [__meta_kubernetes_node_name]
  #     regex: (.+)
  #     target_label: __metrics_path__
  #     replacement: /api/v1/nodes/${1}/proxy/metrics
  - job_name: 'rabbitmq'
    tls_config:
      insecure_skip_verify: true
    metrics_path: '/metrics'
    scrape_interval: 5s
    static_configs:
      - targets: ['rabbitmq.core.svc.cluster.local:15692']
    basic_auth:
      username: 'guest'
      password: 'guest'



# server:
#   podAnnotations:
#     config.linkerd.io/skip-outbound-ports: "15692"