pandas==2.0.2
pandasql==0.7.3
grpcio==1.56.0
google==3.0.0
grpcio-tools==1.56.0
retrying==1.3.4
jaeger-client==4.8.0
grpcio-opentracing==1.1.4
grpclib==0.4.5
opentelemetry-api==1.19.0
opentelemetry-exporter-jaeger==1.19.0
opentelemetry-exporter-jaeger-proto-grpc==1.19.0
opentelemetry-exporter-jaeger-thrift==1.19.0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-exporter-otlp-proto-common==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-otlp-proto-http==1.19.0
opentelemetry-proto==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-semantic-conventions==0.40b0
opentelemetry-instrumentation==0.40b0
opentelemetry-instrumentation-grpc==0.40b0